aside {
  width: 50px;
  height: 100%;
  background: #3d5569;
  display: block;
  top: 50px;
  position: fixed;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside ul li {
  padding: 6px 12px;
}

aside ul li:hover {
  cursor: pointer;
}

aside ul li:hover svg path {
  fill: #fff;
}

aside ul li svg {
  width: 26px;
  height: 26px;
}

main {
  left: 50px;
}
